.login-form,
.create-account-form{
	max-height: 80vh;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: white;
}
.create-account-form h8{
	color: red;
	font-style: italic;
}
.create-account-form input{
	text-align: center;
	color: black;
}