/*
#26a69a teal lighten-1
*/
html, body{
	overflow: hidden;
}

nav{
	position: fixed;
	top: 0;
}

.div-floating-item{
}

nav i{
	color: white;
}

#login-form input{
	text-align: center;
}

.container{
	z-index: 1;
}

.my-overflow-y{
	z-index: 1;
	overflow-x: hidden;
	overflow-y: auto;
}

.overlay-mask{
	 position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 150%;
    top: 0;
    z-index: 0;
}

.body-content{
	width: 100%;
	height: 100vh;
	min-height: 100vh;
	max-height: 100vh;
//	padding-top: 57px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-image: url('images/partyBG.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.form h1,
.form h2,
.form h3,
.form h4,
.form h5,
.form h6,
.form h7{
	font-variant: small-caps;
	color:#26A69A;
}
.loginform h8{
	font-variant: small-caps;
	color: #FF0B20;
}

i{
	color:#26A69A;
}

.orSpanLoginText,
form input{
	color: #9e9e9e;
}

.extra-padding{
	margin-bottom: 20px;
}

.btn-floating.btn-large.halfway-fab{
	right: 25px;
   bottom: 0px;
}
.other-icons{
}


.flex-centered{
	display: flex;
	justify-content: center;
	align-items: center;
}

.my-logo{
    width: 35px;
    height: 40px;
    top: 10px;
    position: relative;
}

.my-small-padding{
	padding: 5px;
}