<div class="overlay-mask">	</div>
<div class="container create-account-form">
	<div class="row">
		<div class="create-account-form col s12">
		
			<h3>Create Account</h3>
			<h8>{{{error}}}</h8>
			
			<form id="create-form" action="/createaccount" method="POST">
				
				<!-- NAME -->
				<div class="input-field col s12">
					<i id="icon_name" class="material-icons prefix">account_circle</i>
					<input id="input_name" name="name" type="text" class="validate" required tabindex="1" value="{{{val_name}}}">
					<label for="input_name">Name</label>
				</div>
				
				<!-- SURNAME -->
				<div class="input-field col s12">
					<i id="icon_surname" class="material-icons prefix">person_pin</i>
					<input id="input_surname" name="surname" type="text" class="validate" required tabindex="2" value="{{{val_surname}}}">
					<label for="input_surname">Surname</label>
				</div>
				
				<!-- USERNAME -->
				<div class="input-field col s12">
					<i id="icon_username" class="material-icons prefix">person_pin</i>
					<input id="input_username" type="text" name="username" class="validate" required tabindex="3" value="{{{val_username}}}">
					<label id="label_username" for="input_username">Username</label>
				</div>
				
				<!-- PASSWORD -->
				<div class="input-field col s12">
					<i id="icon_password" class="material-icons prefix">vpn_key</i>
					<input id="input_password" name="password" type="password" class="validate" required tabindex="4">
					<label for="input_password">Password</label>
				</div>
				
				<!-- PHONE -->
				<div class="input-field col s12">
					<i id="icon_phone" class="material-icons prefix">phone</i>
					<input id="input_phone" name="phone" type="tel" class="validate" required tabindex="5" value="{{{val_phone}}}">
					<label for="input_phone">Phone</label>
				</div>
				
				<!-- EMAIL -->
				<div class="input-field col s12">
					<i id="icon_email" class="material-icons prefix">email</i>
					<input id="input_email" name="email" type="email" class="validate" required tabindex="6" value="{{{val_email}}}">
					<label for="input_email">Email</label>
				</div>
				
				<div class="row">
					<div class="col s12"> <hr> </div>
				
					<div class="col s12">
						<a id="submit-create" class="btn waves-effect waves-light" name="action" tabindex="7">Create</a>
					</div>
					
					<div class="offset-s3 col s6">
						<span class="orSpanLoginText">or</span>
					</div>
					
					<div class="col s12">
						<a href="/" class="waves-effect waves-light btn" tabindex="8">Return</a>
					</div>

				</div>
				
			</form>
      
		</div>
	</div>
</div>