<!DOCTYPE html>
<html en="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	
	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="stylesheets/materialize/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="stylesheets/materialize/materializecss.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="stylesheets/nouislider/nouislider.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="stylesheets/nouislider/nouislider.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="stylesheets/createaccount.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="stylesheets/events.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="stylesheets/add-modal.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="stylesheets/form-create-event.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="stylesheets/side-nav.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	
	<!-- Font Awesome -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	
	<!-- Google Maps CSS -->
	<link href="stylesheets/google-maps.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	
	<title>{{{title}}}</title>
</head>
<body>
   
  	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="javascripts/materialize/materialize.js"></script>
	<script src="javascripts/materialize/init.js"></script>
	<script src="javascripts/nouislider/nouislider.min.js"></script>
	<script src="javascripts/nouislider/nouislider.js"></script>
	<script src="javascripts/functions.js"></script>
	<script src="javascripts/form-login.js"></script>
	<script src="javascripts/form-create.js"></script>
	<script src="javascripts/modal.js"></script>
	<script src="javascripts/google-maps.js"></script>

	<!-- google Maps API -->
	<script async defer type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?
		key=AIzaSyAmoBUWIe8gqSrOAZGWFtebpvNZcEs7x78&callback=initAllMaps&libraries=places"></script>
		
	

	<div id="body-content" class="body-content">	
		{{{body}}}
	</div>
	
</body>
</html>
