<!-- <div class="overlay-mask">	</div> -->
<nav class="teal lighten-1" role="navigation">
	<div class="nav-wrapper container">
	
		<!-- Menu -->
		<a href="#" data-activates="nav-mobile" class="button-collapse">
      	<i class="material-icons" >menu</i>
      	<!-- Si es treu l'onclick, (els items-menu no tenen efecte onada) i es veu la foto de l'usuari ampliada correctament
      	<i class="material-icons" onclick="Materialize.showStaggeredList('#nav-mobile')">menu</i>
			-->
      </a>
	
		<!-- Logo -->
		<a id="logo-container" href="/" class="brand-logo">
			<img src="mush_50x50.png" class="my-logo"></img>
		</a>
		
		<!-- Logout -->
     	<ul class="right">
     	  	<li>
     	  		<a href="/logout">
     	  			<i class="material-icons">power_settings_new</i>
     	  		</a>     	  		
     	  	</li>
     	</ul>
      
  	</div>
</nav>

<div class="container eventslist">
	<div class="row">
		<div class="col s12 m12 l12 xl12">
			{{{eventsList}}}
		</div>		
	</div>
	
	<a id="add-floating" class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
		<i class="material-icons">add</i>
	</a>		
</div>

<ul id="nav-mobile" class="side-nav">
  	<li class="toChangeTransform">
  		<div class="userView">
  			<div class="background">
 				<img src="images/user_images/{{{userimagebg}}}" class="materialboxed">
  			</div>
 			<a href="#!user">
 				<img id="userimage" class="circle extra-z-index materialboxed" src="images/user_images/{{{userimage}}}"></img>
 			</a>
 			<a href="#!name"><span class="white-text name my-rgba-bg">{{{username}}}</span></a>
  			<a href="#!email"><span class="white-text email my-rgba-bg">{{{useremail}}}</span></a>
			</div>
	</li>
	<li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
	<li><a href="#!">Second Link</a></li>
	<li><div class="divider"></div></li>
	<li><a class="subheader">Subheader</a></li>
	<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
      
      
<!-- ADD Modal Structure -->
<div id="modal1" class="modal bottom-sheet">

	
  <ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s3">
    	<a href="#test-swipe-1">Events</a>
    </li>
    <li class="tab col s3">
    	<a href="#test-swipe-2">Shops</a>
    </li>
  </ul>

  <div id="test-swipe-1" class="col s12">
  		
  		<div class="modal-content">

  		<ul class="collapsible" data-collapsible="accordion">
    		<li>
    		
      		<div class="collapsible-header">
      			<i class="fa fa-plus" aria-hidden="true"></i>New event
      		</div>
      		
      		<div class="collapsible-body my-no-padding">
      			
      			<form id="form-create-new-event"
      				action="/createevent"
      				method="POST"
      				enctype="multipart/form-data">
      			
      			<div class="container">
      				<div class="row">
      			
      			<!-- Create new Event Collapsibles -->
					<ul class="collapsible popout" data-collapsible="accordion">
					
	      		<!-- General Info Collapsiable -->
						<li>
							<div class="collapsible-header">
								<i class="material-icons switchColorGeneral my-color-red">subject</i>General info
							</div>
							<div class="collapsible-body my-small-padding">
								
								<!-- Name -->
								<div class="input-field">
									<i id="icon-name" class="material-icons prefix my-color-red">label</i>
									<input id="input-name" class="validate" type="text" name="name" required tabindex="1" data-length="32">
									<label id="label-name" for="input-name">Name</label>
								</div>
				
								<!-- Description -->
								<div class="input-field">
									<i id="icon-description" class="material-icons prefix">mode_edit</i>
									<textarea id="input-description" name="description" class="materialize-textarea" tabindex="2" data-length="1024"></textarea>
									<label for="input-description">Description</label>
								</div>
								
								<div class="input-field">
									<div class="container">
										<div class="row">
											<div class="col s12">
								
												<!-- startDate -->
												<div class="col s6 m6">
													<div class="input-field">
														<i id="icon-startdate" class="material-icons prefix">today</i>
														<input id="input-startdate" name="startdate" type="date" tabindex="3">
														<label for="input-startdate" class="my-dates-inputs">Start date</label>
													</div>
												</div>
					
												<!-- endDate -->
												<div class="col s6 m6">
													<div class="input-field">
														<i id="icon-enddate" class="material-icons prefix">today</i>
														<input id="input-enddate" name="enddate" type="date" tabindex="4">
														<label for="input-enddate" class="my-dates-inputs">End date</label>
													</div>
												</div>
											
											</div> <!-- end col s12 -->	
										</div> <!-- end row -->
									</div> <!-- end conatiner -->
								</div> <!-- end input-field -->
								
								<!-- Capacity -->
								<div class="input-field">
									<div class="range-field">
										<i id="icon-capacity" class="material-icons prefix">assignment_ind</i>
										<input id="input-capacity" name="capacity" type="range" min="0" max="1000" value="0" tabindex="5" />
										<label class="capacity-label" for="input-capacity">Max capacity</label>
									</div>
								</div>
								
								<!-- Price -->
								<div class="input-field">
									<div class="range-field">
										<i id="icon-price" class="material-icons prefix">payment</i>
										<input type="range" name="price" id="input-price" min="0" max="1000" value="0" tabindex="8" />
										<label class="price-label" for="input-price">Price</label>
									</div>
								</div>
								
								<!-- Category -->
								<div class="input-field">
									<i id="icon-category" class="material-icons prefix">label_outline</i>
									<select id="input-category" name="category" required tabindex="6" class="validate text-a-left">
										<option value="blues" selected>Blues</option>
										<option value="dance">Dance</option>
										<option value="disco">Disco</option>
										<option value="experimental">Experimental</option>
										<option value="folk">Folk</option>
										<option value="funk">Funk</option>
										<option value="electronic">Electronic</option>
										<option value="hip-hop">Hip Hop</option>
										<option value="jazz">Jazz</option>
										<option value="pop">Pop</option>
										<option value="latin">Latin</option>
										<option value="punk">Punk</option>
										<option value="reggae">Reggae</option>
										<option value="soul">Soul</option>
										<option value="urban">Urban</option>
										<option value="rock">Rock</option>
										<option value="heavy-metal">Heavy Metal</option>
										<option value="trash">Trash</option>
									</select>
									<label>Category</label>
								</div>
								
								<!-- Visibility -->
								<div class="input-field">
									<i id="icon-visibility" class="material-icons prefix">visibility</i>
									<select id="input-visibility" name="visibility">
										<option value="public">Public</option>
										<option value="private">Private</option>
									</select>
									<label for="input-visibility">Visibility</label>
								</div>
								
								<!-- Age -->
								<div class="input-field">
									<i id="icon-age" class="fa fa-child prefix" aria-hidden="true"></i>
									<select id="input-age" name="age">
										<option value="0">All public</option>
										<option value="3">+3 Age</option>
										<option value="7">+7 Age</option>
										<option value="12">+12 Age</option>
										<option value="16">+16 Age</option>
										<option value="18">+18 Age</option>
									</select>
									<label for="input-visibility">Age recommened</label>
								</div>
								
								<!-- Image -->
								<div class="input-field">			
									<div class="file-field input-field">
										<i id="icom-image" class="material-icons prefix">perm_media</i>
										<div class="btn">
											<span>Image</span>
											<input id="input-image" name="image" type="file" accept="image/*">
										</div>
										<div class="file-path-wrapper">
											<input class="file-path validate text-a-left" type="text">
										</div>
									</div>
								</div>
				
							</div>
						</li> <!-- end General Info Collapsiable -->						
				
				
						<!-- Location Collapsiable -->			
						<li>
							<div class="collapsible-header mapsNewEvent">
								<i class="material-icons switchColorLocation my-color-grey">room</i>Location
							</div>
							<div class="collapsible-body no-padding">
								<div>
									<input id="pac-input" class="controls" type="text" placeholder="Search Box">
								</div>
								
								<div id="map-new-event"></div>
								
								<a id="getLocation" class="waves-effect waves-light btn">Get location</a>
								<a id="resetLocation" class="waves-effect waves-light btn">Reset</a>
								<input id="lat" type="hidden" value="" name="lat">
								<input id="lng" type="hidden" value="" name="lng">
								<input id="address" type="hidden" value="" name="address">
							</div>
						</li>	<!-- end Location Collapsiable -->
				
				
      				<!-- Contact Info Collapiable -->
						<li>
							<div class="collapsible-header">
								<i class="material-icons switchColorContact">contact_phone</i>Contact info
							</div>
							<div class="collapsible-body my-small-padding">
				
								<!-- Phone -->
								<div class="input-field">
									<i id="icon-phone" class="material-icons prefix">phone</i>
									<input id="input-phone" name="phone" type="tel" class="validate" tabindex="10">
									<label for="input-phone">Phone</label>
								</div>
								
								<!-- Web -->
								<div class="input-field">
									<i id="icon-web" class="material-icons prefix">web</i>
									<input id="input-web" name="web" type="text" class="validate" tabindex="11">
									<label for="input-web">Web</label>
								</div>
								
								<!-- Email -->
								<div class="input-field">
									<i id="icon-email" class="material-icons prefix">email</i>
									<input id="input-email" name="email" type="email" class="validate" tabindex="12">
									<label for="input-email">Email</label>
								</div>				
				
							</div>
						</li> <!-- end Contact Info Collapiable -->
						
						<div class="flex-centered">
							<div class="input-field">
								<a id="submit-create-event" class="btn waves-effect waves-light" name="action" tabindex="7">Create</a>
							</div>
						</div>

					</ul>
				
			</form>
      			
      		</div>
    		</li>
    		<li>
      		<div class="collapsible-header"><i class="material-icons">place</i>Second emtpy form...</div>
      		<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    		</li>
    		<li>
      		<div class="collapsible-header"><i class="material-icons">whatshot</i>Third empty form...</div>
      		<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    		</li>
  		</ul>
				
		</div>
		

		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
		</div>
		
  </div>

  <div id="test-swipe-2" class="col s12 red">SHOPS</div>

</div>

<script src="javascripts/form-create-event.js"></script>